<div class="container div-flex-row justify-content-around" id="sign-up-page">

    <div class="signup-form">
        <form action="/login" method="POST">
            <h2>Log in</h2>
            <div class="form-group">
                <input type="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" name="email" placeholder="Email" required="required" value="{{user.email}}">
                    {{#if errors.email}}<div class="invalid-feedback">{{errors.email}}</div>{{/if}}
            </div>
            <div class="form-group">
                <div class="password-input-div">
                    <input type="password" class="form-control {{#if errors.email}}is-invalid{{/if}}" name="password" placeholder="Password" required="required">
                    <button class="btn btn-outline-secondary password-toggle" type="button">
                        <i class="fa fa-eye-slash fa-fw"></i>
                    </button>
                </div>
            </div>

            <div class="form-group signup-btn-div">
                <button type="submit" class="btn btn-lg btn-block"> LOG IN</button>
                 <p class="mt-3 mb-3">— OR —</p>
                <a href="/login/google" class="btn btn-lg btn-block mt-1" id="google-login-btn">
                    <i class="fa fa-google"></i> LOG IN WITH GOOGLE
                </a>
            </div>
            <div class="mt-4">
                <p>You don't have an account yet? <a href="/signup">Take me to Sign up</a></p>
            </div>
        </form>
    </div>

    <div id="login-image">
         <h2>If you already have an account, log in to access your discussion rooms and favorite books!</h2>
         <img src="/img/profile.svg" alt="Login icon">
     </div>  

</div>