  <section class="footer-links">
    <div class="container text-center text-md-start mt-5 pt-3">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-copyright"></i>Get Lit
          </h6>
          <p>
            Get Lit is a WEB API where you can share and discuss your favorite books with other bookworms. 
          </p>
        </div>
        
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 useful-links">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p><a href="/about" class="text-reset">About</a></p>
          <p><a href="/contact" class="text-reset">Contact Us</a></p>
          <p><a href="/books" class="text-reset">Books</a></p>
          <p><a href="/rooms" class="text-reset">Rooms</a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p>vicentegarciaayllon@gmail.com</p>
          <p>+34 684 003 481</p>
          <p>isagr_kio@hotmail.com</p>
          <p>+34 690 206 360</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4 footer-copyright">
    2022 Get Lit©
  </div>
