<div>
    <div class="container">
        <h2>{{ room.name }}</h2>
        <p>{{ room.description }}</p>
    </div>




</div>

<div class="container">
    <h4 class="card-title"></h4>
   
</div>

{{!-- {{#each comments as |comment|}}
<div>
    <p>{{comment.user}}</p>
    <p>text</p>
</div>
<button>Add comment</button>
{{/each}}

<div>
    <h2>Participants</h2>
    {{#each room.participants as |participant|}}
    {{ participant.image }}
    {{/each}}
</div> --}}