<div class="container div-flex-row justify-content-around" id="edit-room-page">
    <div class="signup-form mb-5">
        <form action="/rooms/{{room.id}}/edit" method="POST">
            <h2>Edit Room</h2>
            <div class="form-group">
                <input type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" name="name" required="required" value="{{room.name}}">
            </div>
            <div class="form-group">
                <textarea class="form-control {{#if errors.description}}is-invalid{{/if}}" name="description">{{room.description}}</textarea>
            </div>
            <div class="form-group signup-btn-div">
                <button type="submit" class="btn btn-lg btn-block">EDIT ROOM</button>
            </div>
        </form>
    </div>
</div>