<div class="center-div">
    <div id="error-div" class="mt-5">
        <div>
            <h1>Oops! Something went wrong...</h1>
            <h4>Error {{error.status}} - {{message}}</h4>
        </div>
            <img src="/img/error-book.png" alt="Error icon">

        <div id="error-buttons-div">
            <a onclick="history.back()" class="btn">Back</a>
            <a href="/" class="btn">Home</a>
            <a href="/contact" class="btn">Contact us</a>
        </div>
    </div>
</div>