<div id="profile-div">
    <div class="profile-div">
        <h3>Your Profile</h3>
        <div id="profile-info-div">
            <img src="{{currentUser.image}}" alt="">
            <p>{{currentUser.name}}</p>
            <p>{{currentUser.email}}</p>
        </div>
    </div>
    <div class="profile-div">
        <h3>Your Rooms</h3>
    </div>
    <div class="profile-div">
        <h3>Your Books</h3>
    </div>
</div>