<div class="about-div">
    <h1>Meet the devs!</h1>
    
    <div>
        <div class="card card-margin">
            <div class="about-card">
                <div class="mismuelas">
                    <img src="img/vicen.png" class="about-img" alt="">
                    <h2>Vicente García Ayllón</h2>
                </div>
                    <p class="max-width mt-3">I'm a junior Front End Developer who loves to make art with his keyboard. I love chess, reading, watercolors and Pokémon. You can find me in a coffee shop or clicking on the buttons below:</p>
            </div>

            <div class="social-links">
                <a href="https://github.com/vicentegarcya" target="_blank" class="link-icon">
                    <i class="bi bi-github"></i>
                </a>

                <a href="https://twitter.com/vicengarcyadev" target="_blank" class="link-icon">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>   
        </div>

        <div class="card">
            <div class="about-card">
                <div class="mismuelas">
                    <img src="img/isa.JPEG" class="about-img" alt="">
                    <h2>Isa Gutiérrez Ruiz</h2>
                </div>
                
                <p class="max-width mt-3">Hi! I'm a Web Developer & Project Manager whose passions are both human and computer languages. I also love dogs, video games, and (ofc) books! <3</p>
            </div>
            
            <div class="social-links">
                <a href="https://github.com/IsaGutierrez" target="_blank" class="link-icon">
                    <i class="bi bi-github"></i>
                </a>

                <a href="https://twitter.com/isagutrui" target="_blank" class="link-icon">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>   
        </div>

    </div>
</div>