<div class="about-div">
    <h1 class="mt-4">Meet the devs!</h1>
    <div>
        <div>
            <h2>Vicente</h2>
            <div class="about-card">
                <img src="img/vicen.png" class="about-img" alt="">
                <p class="max-width">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum unde nobis corrupti obcaecati veniam consequuntur mollitia, doloremque dolor illum quidem dolorem, repellat sint molestias reprehenderit magnam in quos impedit harum.</p>
            </div>
            <a href="https://github.com/vicentegarcya" target="_blank" class="btn github-btn">
                <i class="fa fa-github"></i>
            </a>
        </div>

        <div>
            <h2>Isa</h2>
            <div class="about-card">
                <img src="img/isa.JPEG" class="about-img" alt="">
                <p class="max-width">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos vero aliquam molestiae culpa explicabo saepe aperiam beatae. Exercitationem, quos ullam impedit id expedita deleniti dolorum iusto minus voluptatem excepturi.</p>
            </div>    
            <a href="https://github.com/IsaGutierrez" target="_blank" class="btn github-btn">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>
</div>