<div class="about-div">
    <h1>Meet the devs!</h1>
    
    <div>
        <div class="card">
            <div class="about-card">
                <img src="img/vicen.png" class="about-img" alt="">
                
                <div>
                    <h2>Vicente García Ayllón</h2>
                    <p class="max-width">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum unde nobis corrupti obcaecati veniam consequuntur mollitia.</p>
                </div>
            </div>

            <div class="social-links">
                <a href="https://github.com/vicentegarcya" target="_blank" class="link-icon">
                    <i class="bi bi-github"></i>
                </a>

                <a href="https://twitter.com" target="_blank" class="link-icon">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>   
        </div>

        <div class="card">
            <div class="about-card">
                <img src="img/isa.JPEG" class="about-img" alt="">

                <div>
                    <h2>Isa Gutiérrez Ruiz</h2>
                    <p class="max-width">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos vero aliquam molestiae culpa explicabo saepe. </p>
                </div>
            </div>
            
            <div class="social-links">
                <a href="https://github.com/IsaGutierrez" target="_blank" class="link-icon">
                    <i class="bi bi-github"></i>
                </a>

                <a href="https://twitter.com/isagutrui" target="_blank" class="link-icon">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>   
        </div>

    </div>
</div>