

<div id="find-bookshops-div">
    <h3>Bookshops near you</h3>
    <p class="fst-italic mb-3">Please accept geolocation.</p>
    <div id="google-map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&libraries=places"></script>
<script type="text/javascript" src="/js/google-maps.js"></script>