<section class="container div-flex-row" id="home-intro">
    <div id="home-intro-text">
        <h1>Read, share & comment your favourite books with another bookworms</h1>
        <a class="btn" href="/books">SEE BOOKS</a>
        <a class="btn" href="/rooms">SEE ROOMS</a>
    </div>
    <div id="home-intro-img">
        <img src="/img/undraw_reading_time_re_phf7.svg" alt="">
    </div>
</section>
<section id="home-why">
    <h5>WHY GET LIT?</h5>
    <div class="div-flex-row p-5">
        <div id="home-why-img">
            <img src="/img/undraw_winners_re_wr1l.svg" alt="">
        </div>
        <div id="home-why-text">
            <div id="home-why-options">
                <div>
                    <img src="/img/book-open-solid.svg" alt="">
                    <p>Track your readings, find new books and review them.</p>
                </div>
                <div>
                    <img src="/img/user-group-solid.svg" alt="">
                    <p>Meet people that share your book interests and discuss everything about them.</p>
                </div>
                <div>
                    <img src="/img/user-graduate-solid.svg" alt="">
                    <p>Add new books, start new rooms to debate and become a book master.<p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container div-flex-row" id="home-bookshops">
    <div id="home-bookshops-text">
        <h2>We support local bookshops where you can find your favourite titles</h2>
        <a class="btn" href="#">FIND BOOKSHOPS</a>
    </div>
    <div id="home-bookshops-img">
        <img src="/img/undraw_bookshelves_re_lxoy.svg" alt="">
    </div>
</section>