/* Palette:
beige: #EFEDE1,
dark-brown: #484131,
green: #96951B,
pink: #F3E7E4,
light-yellow: #FCFAEC
*/

*, html {
    margin:0;
    padding:0;  
}

body {
	min-height: 100vh;
    margin: 0;
    padding: 0;
	font-family: 'EB Garamond', serif;
	background-color: #fcfbf7;
	color: #484131;
	position: relative;
}
p {
	font-size: 19px;
	margin: 0px;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {	
	padding-bottom: 2.5rem; /* Footer height */
}

footer {
	position: absolute;
    bottom: 0;
    width: 100%;
	height: 2.5rem;
}

/* Navbar */
.navbar {
	background-color: #484131;
}

.navbar a {
	color: #efede1;
	font-size: 20px;
	font-weight: 200;
}

.navbar a:hover {
	color: #96951b;
}

.navbar img {
	width: 130px;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(150, 149, 27, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar-nav img {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	margin: 0 0 0 10px;
}

#ul-separated {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#random-quote-div {
	width: 400px;
	border-left: 1px solid #ffd9d0;
	border-right: 1px solid #ffd9d0;
}

#random-quote {
	color:#ffd9d0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	animation: movingtitle 10s infinite linear reverse;
}

@keyframes movingtitle {
	from {text-indent:-100%;}
	to {text-indent:100%;}
}

.dropdown {
    position: relative;
    display: inline-block;
	min-width: 80px;
}

.dropdown-content a {
	text-align: center;
}

.dropdown-content {
	width: 100px;
	display: none;
	position: absolute;
	top: 100%;
	left: -25%;
	background-color: #484131;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px) {
	#ul-separated {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#ul-separated img {
		width: 40px;
		height: 40px;
		border-radius: 10px;
		margin: 10px 0 5px 20px;
	}

	.dropdown {
		position: relative;
		display: inline-block;
		min-width: 80px;
	}
	
	.dropdown-content a {
		text-align: center;
	}
	
	.dropdown-content {
		width: 100px;
		display: none;
		position: absolute;
		top: 100%;
		left: -14%;
		background-color: #484131;
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
	}
}


/* Home Page */
.div-flex-row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#home-intro .btn {
	margin-top: 20px;
	width: 30%;
}

#home-intro-text, #home-bookshops-text {
	margin-top: 100px;
	width: 40%;
}

#home-intro img {
	width: 600px;
	margin-top: 130px;
}

#home-why {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efede1;
	padding: 20px 80px 0 0;
}

#home-why h5 {
	font-family: 'Mohave', sans-serif;
	font-style: italic;
	writing-mode: sideways-lr;
	letter-spacing: 2px;
	margin-right: 80px;
}

#home-why-img img {
	width: 320px;
}

#home-why-img {
	margin: 6px 40px 0 0;
}

#home-why-options img {
	width: 30px;
	margin-right: 20px;
	filter: invert(91%) sepia(8%) saturate(5784%) hue-rotate(298deg) brightness(114%) contrast(117%);
}

#home-why-options div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 50px;
}

#home-why-options p {
	font-size: 20px;
	font-weight: 500;
}

#home-why-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px -230px 80px 0;
}

#home-why-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 70%;
}

#home-bookshops img {
	width: 500px;
	margin: 130px 0 90px 0;
}

#home-bookshops .btn {
	width: 40%;
	margin-top: 20px;
}

#home-bookshops h2 {
	width: 80%;
	margin-top: 20px;
}

/* Forms */
.form-control {
	min-height: 40px;
	max-height: 130px;
	box-shadow: none;
}

.form-control:focus {
	border-color: #484131;
}

.signup-form {
	width: 50%;
	margin: 15px 0px;
	padding: 20px 0;
  	font-size: 15px;
}

.signup-form h2 {
	color: #484131;
	margin: 0 0 25px;
	position: relative;
	text-align: center;
}

.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 25%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}

.signup-form h2:after {
	right: 0;
}

.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background-color: #efede1;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
	margin-top: 3px;
}

.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}	

.signup-form a {
	color: #fff;
	text-decoration: underline;
}

.signup-form a:hover {
	text-decoration: none;
}

.signup-form form a {
	color: #484131;
	text-decoration: none;
}	

.signup-form form a:hover {
	text-decoration: underline;
}

.btn, #google-login-btn, #google-signup-btn {
	width: 100%;
	color: #fff;
	background-color: #484131;
	letter-spacing: 1px;
}

.btn:hover, #google-login-btn:hover, #google-signup-btn:hover {
	color: #fff;
	background-color: #96951B;
	text-decoration: none;
}

.signup-btn-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upload-image {
	background-color: rgba(255, 255, 255, 0);
	color: #6c757d;;
}

.form-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 70px;
	max-width: 40%;
}

.form-image > img {
	width: 85%;
	margin-top: 40px;
}

.new-room-img {
	max-width: 300px;
}

@media screen and (max-width: 995px) {
	.form-page {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}

	.signup-form {
		width: 90%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.form-image {
		max-width: 90%;
		margin-bottom: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px
	}

	.form-image > img {
		display: none;
	}
}

/* Footer */
.footer-links {
	color: #fff;
	background-color: #484131;
}

.footer-links a {
	text-decoration: none;
}

.useful-links p:hover {
	color: #96951b;
}

.footer-copyright {
	background-color: #efede1;
	color: #484131;
}


/* Profile */
#profile-div-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 2% 5%;
}

#profile-info-img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 8px;
}

#profile-info-div span {
	font-style: italic;
	color: #96951b;
	font-size: 16px;
}

.profile-div {
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.profile-div h2 {
	font-family: 'Mohave', sans-serif;
	font-style: italic;
	letter-spacing: 0px;
}

.profile-content-div {
	padding: 5%;
	width: 95%;
	min-width: 300px;
	background-color: #efede1;
	border-radius: 10px;
}

.profile-content-div .room-card:first-child {
	margin-top: 0;
}

#profile-rooms-div, #profile-books-div {
	height: 70vh;
	overflow-y: auto;
}

.participant-room-card-img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: 10px 0;
}

.cover-title-div {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	justify-content: space-between;
}

.cover-div {
	margin-right: 15px;
}

.cover-div > img {
	border-radius: 10px;
}

.margin-button {
	margin-left: 13px;
}


/* Error page */
.center-div {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#error-div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#error-div > div {
	text-align: center;
}

#error-buttons-div {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#error-buttons-div > a {
	margin: 10px;
}


/* About */
.about-div {
	margin-top: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.about-div > div {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
}

.about-div .card {
	border-radius: 10px;
}

.about-img {
	width: 13vw;
	height: 13vw;
	object-fit: cover;
	border-radius: 10px;
	margin-right: 15px;
}

.about-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 20px 10px 10px;
}


.max-width {
	max-width: 350px;
}

.social-links {
	display: flex;
	justify-content: flex-end;
}

.link-icon {
	color: #484131;
	font-size: 25px;
	padding: 0 20px 8px 0;
}

.link-icon:hover{
	color: #d8b7af;
}

/* Toast Div */
#toast-div {
	background-color: #96951b;
	font-size: 16px;
	width: 300px;
}

.toast-body {
	color: #efede1;
}

#error-toast-div {
	background-color: #741111;
	font-size: 16px;
	width: 300px;
}

/* Hidden Password */
.password-input-div {
	display: flex;
	flex-direction: row;
}

.password-input-div input {
	width: 89%;
}

.password-input-div button {
	width: 11%;
	min-width: 10px !important;
	padding: .375rem;
}

/* Book List */
#books-list-div {
	margin-left: 15px;
}

.book-card {
	max-width: 400px;
	width: 400px;
	border-radius: 10px;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	max-height: 350px;
	height: 260px;
	position: relative;
}

.book-card .btn {
	width: 180px;
	font-size: 14px;
}

.card-body {
	margin-left: 8px;
	padding: 5px 1rem;
}

.card-body h4 {
	width: 85%;
	font-size: 22px;
}

.card-img {
	width: 160px;
	height: 240px;
}

.card-img > img {
	width: 160px;
	height: 240px;
	object-fit: cover;
	border-radius: 8px;
}

.book-card > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.like-button {
	position: absolute;
	top: 2px;
	left: 335px;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.like-button-detail {
	width: 50px;
	height: 50px;
	background-color: #F3E7E4;
	border-radius: 100%;
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.fa-heart {
	color: #cfccb7;
	width: 50px;
}

.icon-liked {
	color: red;
}

.icon-events-none {
	pointer-events: none;
	opacity: 0.5;
}

#search-books-div {
	padding: 12px 0;
	background-color: #ffd9d0;
}

#search-books-inside-div  {
	width: 30%;
	min-width: 400px;
}

#search-books-div h5 {
	margin-top: 4px;
}

.filter {
	font-size: 20px;
	display: flex;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.filter {
		display: flex;
		flex-direction: column;
	}	

	.all-rooms {
		display: flex;
		justify-content: center;
	}
}

#filter-rooms {
	margin: 30px 0 0 0;
	justify-content: flex-start;
}

.filter > div {
	padding-right: 20px;
}

.filter-input {
	font-size: 16px;
	padding: 7px 15px 7px 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-bottom: 12px;
}

/* Book Detail */
#book-detail {
	max-width: 1300px;
	display: flex;
	flex-direction: row;
}

#book-detail > img {
	width: 300px;	
}

/* Add Book */
#add-book-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-div form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-div {
	width: 60%;
	margin: 40px 0 0 0;
}

.search-div input {
	height: 40px;
	width: 50%;
	margin-right: 10px;
	border-radius: 10px;
}

.search-div button {
	height: 40px;
	width: 30%;
	font-size: 14px;
}


/* Room List */
.room-card {
	width: 100%;
	border-radius: 10px;
	margin-top: 20px;
}

@media screen and (max-width: 600px) {
	.room-card {
		width: 90%;
	}	
}

.title-link {
	color: #96951B;
	text-decoration: none;
	width: 75%;
}

.title-link:hover {
	color: #d8b7af;
	text-decoration: none;
}

.room-info {
	margin: 10px 0 0 0;
}

.share-room-btn {
	outline: none;
  	background: transparent;
  	border: 1px solid transparent;
}

.create-new-room {
	width: 200px;
	margin-left: 20px;
}

/* Room detail */
#room-detail-page {
	width: 75%;
}

.room-description {
	font-size: 22px;
	word-wrap: break-word;
}

#room-book-title {
	margin-left: 15px;
	color: #d8b7af;
	font-style: italic;
}

#comment-div {
	height: 180px;
	display: flex;
	margin-top: 60px;
}

.room-comment {
	padding: 25px 20px;
	min-height: 120px;
}

.room-reply {
	padding: 15px 20px;
	min-height: 100px;
}

.textarea {
	font-size: 16px;
	padding: 7px 15px 7px 15px;
	border: 0px solid #ddd;
	border-radius: 10px;
}

.write-comment-img {
	width: 60px;
	height: 60px;
	border-radius: 15px;
	margin-right: 10px;
} 

.comment-img {
	width: 40px;
	height: 40px;
	border-radius: 15px;
	margin-right: 20px;
	margin-top: -8px;
}

#comment-div > form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	height: 200px;
}

.user-name {
	color: #96951b;
	font-size: 18px;
}

.reply-background {
	background-color: rgb(248, 247, 247);
}

.reply-img {
	width: 25px;
	height: 25px;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 15px;
	margin-top: 0px;
}

.comment-reply-content {
	margin-left: 10px;
	margin-top: 5px;
	display: flex;
	font-size: 15px;
}

.comment-reply-content > p {
	font-size: 18px;
}

.comment-btn {
	width: 120px;
	margin: 10px;
}

.comment-reply-btn {
	width: 95px;
	margin: 0 10px;
}

#room-participants-div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#room-participants-div img {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border-radius: 100%;
}

.green-btn {
	background-color: #96951b;
}

.green-btn:hover {
	background-color: #484131;
}

.red-btn, .red-btn:hover {
	background-color: #741111;
}

@media screen and (max-width: 600px) {
	#room-detail-page {
		width: 90%;
	}

	.reply-img {
		margin-left: 10px
	}
}


/* Find Bookshops */
#google-map {
	height: 450px;
	width: 70%;
	border-radius: 20px;
}

#find-bookshops-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2%;
}

/* Loadgin Div */
/* LOADING PAGE ANIMATIONS */

.loading-div {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #484131;
    animation-name: loaderAnimationDiv;
    animation-duration: 3s;
    opacity: 0;
}

#book-loading {
	position: absolute;
	top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 260px;
    animation-name: loaderAnimationBook;
    animation-duration: 3s;
}

#title-loading {
	position: absolute;
	top: 35%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 200px;
    animation-name: loaderAnimationBigStar;
    animation-duration: 3s;
}

#big-star-loading {
	position: absolute;
	top: 46%;
    left: 47%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 50px;
    animation-name: loaderAnimationBigStar;
    animation-duration: 3s;
}

#medium-star-loading {
	position: absolute;
	top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 35px;
    animation-name: loaderAnimationSmallStar;
    animation-duration: 3s;
}

#small-star-loading {
	position: absolute;
	top: 46%;
    left: 53%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 20px;
    animation-name: loaderAnimationSmallStar;
    animation-duration: 3s;
}

#brillo-loading {
	position: absolute;
	top: 56%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 20px;
    animation-name: loaderAnimationBrillo;
    animation-duration: 3s;
}

#brillo-loading-2 {
	position: absolute;
	top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 20px;
    animation-name: loaderAnimationBrillo;
    animation-duration: 3s;
}

@keyframes loaderAnimationBigStar {
    0% {
        opacity: 0;
    }
	6% {
        opacity: 1;
    }
	12% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
	30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loaderAnimationMediumStar {
    0% {
        opacity: 1;
    }
	15% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
	30% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loaderAnimationSmallStar {
    0% {
        opacity: 0;
    }
	10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
	30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
	70% {
        opacity: 1;
    }
	80% {
        opacity: 0;
    }
	90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loaderAnimationBrillo {
    0% {
        opacity: 0;
    }
	10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
	30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
	70% {
        opacity: 1;
    }
	80% {
        opacity: 0;
    }
	90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loaderAnimationDiv {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;

    }
    100% {
        opacity: 0;
    }
}