/* Palette:
beige: #EFEDE1,
dark-brown: #484131,
green: #96951B,
pink: #F3E7E4,
light-yellow: #FCFAEC
*/

body {
	min-height: 100vh;
    margin: 0;
    padding: 0;
	font-family: 'EB Garamond', serif;
	background-color: #fcfbf7;
	color: #484131;
	position: relative;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {	
	padding-bottom: 2.5rem; /* Footer height */
}

#ul-separated {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
	position: absolute;
    bottom: 0;
    width: 100%;
	height: 2.5rem;
}

/* Navbar */
.navbar {
	background-color: #484131;
}

.navbar a {
	color: #efede1;
	font-size: 20px;
	font-weight: 200;
}

.navbar a:hover {
	color: #96951b;
}

.navbar img {
	width: 130px;
	margin-bottom: 4%;
}

.navbar-brand {
	margin-left: 2.5%;
}

#ul-separated {
	margin-right: 2.5%;
}

/* Home Page */
.div-flex-row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#home-intro .btn {
	margin-top: 20px;
	width: 30%;
}

#home-intro-text, #home-bookshops-text {
	margin-top: 100px;
	width: 40%;
}

#home-intro img {
	width: 600px;
	margin-top: 130px;
}

#home-why {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efede1;
	padding: 20px 80px 0 0;
}

#home-why h5 {
	font-family: 'Mohave', sans-serif;
	font-style: italic;
	writing-mode: sideways-lr;
	letter-spacing: 2px;
	margin-right: 80px;
}

#home-why-img img {
	width: 320px;
}

#home-why-img {
	margin: 30px 40px 0 0;
}

#home-why-options img {
	width: 30px;
	margin-right: 20px;
	filter: invert(56%) sepia(10%) saturate(2280%) hue-rotate(21deg) brightness(94%) contrast(123%);
}

#home-why-options div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 50px;
}

#home-why-options p {
	font-size: 20px;
	font-weight: 500;
}

#home-why-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px -230px 80px 0;
}

#home-why-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 70%;
}

#home-bookshops img {
	width: 500px;
	margin: 130px 0 90px 0;
}

#home-bookshops .btn {
	width: 40%;
	margin-top: 20px;
}

#home-bookshops h2 {
	width: 80%;
	margin-top: 20px;
}

/* Forms */
.form-control {
	height: 40px;
	box-shadow: none;
}
.form-control:focus {
	border-color: #484131;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 500px;
	margin: 30px auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #484131;
	margin: 0 0 25px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #484131;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background-color: #efede1;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #484131;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}

.btn, #google-login-btn, #google-signup-btn {
	width: 100%;
	color: #fff;
	background-color: #484131;
	letter-spacing: 1px;
}

.btn:hover, #google-login-btn:hover, #google-signup-btn:hover {
	color: #fff;
	background-color: #96951B;
	text-decoration: none;
}

.signup-btn-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upload-image {
	background-color: rgba(255, 255, 255, 0);
	color: #6c757d;;
}

#sign-up-image {
	margin-top: 140px;
	max-width: 600px;
}

#sign-up-image > img {
	width: 85%;
	margin-top: 80px;
}

#login-image {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 90px;
	max-width: 600px;
}

#login-image > img {
	width: 70%;
	margin-top: 70px;
}


/* Footer */
.footer-links {
	color: #fff;
	background-color: #484131;
}

.footer-links a {
	text-decoration: none;
}

.useful-links p:hover {
	color: #96951b;
}

.footer-copyright {
	background-color: #efede1;
	color: #484131;
}


/* Profile */
#profile-div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2% 5%;
}

#profile-div img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.profile-div {
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

#profile-info-div {
	padding: 5%;
	width: 80%;
	background-color: #efede1;
	border-radius: 5%;
}


/* Error page */
.center-div {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#error-div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#error-div > div {
	text-align: center;
}

#error-buttons-div {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#error-buttons-div > a {
	margin: 10px;
}


/* About */
.github-btn {
	width: 50px;
}

.about-div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.about-div > div {
	text-align: center;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
}

.about-img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 20%;
}

.about-card {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* .about-div > div > div {
	margin-right: 50px;
} */

.max-width {
	max-width: 350px;
	padding-left: 5%;
}

/* Toast Div */
#toast-div {
	background-color: #96951b;
	font-size: 16px;
	width: 300px;
}

.toast-body {
	color: #efede1;
}

/* Hidden Password */
.password-input-div {
	display: flex;
	flex-direction: row;
}

.password-input-div input {
	width: 89%;
}

.password-input-div button {
	width: 11%;
	min-width: 10px !important;
	padding: .375rem;
}

/* Book List */
.book-card {
	max-width: 400px;
	width: 400px;
	border-radius: 10px;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	max-height: 350px;
	height: 260px;
	position: relative;
}

.book-card .btn {
	width: 180px;
	font-size: 14px;
}

.card-body {
	margin-left: 8px;
	padding: 5px 1rem;
}

.card-body h4 {
	width: 85%;
	font-size: 22px;
}

.card-img {
	width: 160px;
	height: 240px;
}

.card-img > img {
	width: 160px;
	height: 240px;
	object-fit: cover;
	border-radius: 8px;
}

.book-card > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.like-button {
	position: absolute;
	top: 8px;
	left: 335px;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-heart {
	color: #cfccb7;
	width: 50px;
}

.icon-liked {
	color: red;
}

.icon-events-none {
	pointer-events: none;
	opacity: 0.5;
}


/* Book Detail */
#book-detail {
	max-width: 1300px;
	display: flex;
	flex-direction: row;
}

#book-detail > img {
	width: 300px;	
}

/* Add Book */
#add-book-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-div form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-div {
	width: 60%;
	margin: 40px 0 0 0;
}

.search-div input {
	height: 40px;
	width: 50%;
	margin-right: 10px;
}

.search-div button {
	height: 40px;
	width: 30%;
	font-size: 14px;
}


/* Room List */
.room-card {
	width: 100%;
	border-radius: 10px;
	margin-top: 30px;
}

.title-link {
	color: #96951B;
	text-decoration: none;
}

.title-link:hover {
	color: #d8b7af;
	text-decoration: none;
}